Source: e2defrag
Section: admin
Priority: extra
Maintainer: Phillip Susi <psusi@ubuntu.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libncurses-dev, bzip2, e2fslibs-dev
Standards-Version: 3.9.2
Homepage: http://launchpad.net/e2defrag

Package: e2defrag
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ext[234] filesystem defragmenter
 As a file system is used, data tends to become more and more
 scattered across the disk, degrading performance.  A disk
 defragmenter simply re-organises the data on the disk, so that
 individual files occupy a single sequential set of disk blocks,
 and all the free space on the disk is collected together in a
 single region. This generally means that reading a whole file
 is faster, and disk accesses in general are more efficient.
 .
 To use, the filesystem must not be mounted, and you need to
 back up your data first because if anything goes wrong ( power
 failure, system crash, bug in the program ) your filesystem
 is likely to be unrecoverable.

